doctype html
html
    head
        title= title
        style
            | html, body {height: 100%; margin: 0; padding: 0;}
            | #root {height: 100%; box-sizing: border-box; font-family: 'Open Sans', 'Arial', sans-serif; background-color: #e6ecf0;}
        block head-stuff
    body
        if ( html && preloadedState )
            div#root
                #{html}
            script.
                window.PRELOADED_STATE = JSON.stringify(preloadedState).replace(/</g, '\\\\\u003c')
            script(src="/js/bundle.js")
        else
            div#root
        block content
